.footContainer{
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.65em;
}

.copyright{
  display: flex;
  flex-wrap: wrap;
  text-align: end;
}
