<mat-card class="ngmat">
  <mat-card-header>
    <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/ng-fast.appspot.com/o/ngmat.png?alt=media&token=c2aa288c-f330-4862-9356-98f568fef3bd" alt="Angular Material logo">
    <mat-card-title>
      Angular Material Resources
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Here are some links to help you get started with Angular Material:
    </p>
    <mat-list>
      <mat-list-item>
        <h2>
          <a
            target="_blank"
            rel="noopener"
            href="https://material.angular.io/guide/getting-started"
            >Getting Started</a
          >
        </h2>
      </mat-list-item>
      <mat-list-item>
        <h2>
          <a
            target="_blank"
            rel="noopener"
            href="https://material.angular.io/components/categories"
            >Components</a
          >
        </h2>
      </mat-list-item>
      <mat-list-item>
        <h2>
          <a
            target="_blank"
            rel="noopener"
            href="https://material.angular.io/guides"
            >Guides</a
          >
        </h2>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
