<!--The content below is only a placeholder and can be replaced.-->
<app-header [title]="title"></app-header>

<div class="container">
  <mat-card class="ngfast">
    <mat-card-header>
      <img
        mat-card-avatar
        alt="Ng-Fast logo"
        src="../assets/icons/icon-72x72.png"
      />
      <mat-card-title> Welcome to {{ title }}! </mat-card-title>
      <mat-card-subtitle>
        Firebase Angular simple Template
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4>
        A high performance PWA template using Firebase Hosting, Angular and
        Material Design
      </h4>

      <p>
        A publicly usable Angular PWA template that scores ~100 in all
        Lighthouse tests, depending on the environment it is hosted in.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="resources">
    <p>For all resources, please see the following pages:</p>
    <!-- Angular card -->
    <a routerLink="angular">Angular</a>

    <!-- Firebase card -->
    <a routerLink="firebase">Firebase</a>

    <!-- Angular Material card -->
    <a routerLink="ngmat">Angular Material</a>
  </mat-card>

  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<app-footer [foundingYear]="foundingYear" [author]="author"></app-footer>
