<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="secondary">
  <img
    width="26"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  {{ title }}
</mat-toolbar>

<mat-card style="text-align:center">
  <mat-card-header>
    <mat-card-title> Welcome to {{ title }}! </mat-card-title>
    <mat-card-subtitle>
      Firebase Angular simple Template
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4>
      A high performance PWA template using Firebase Hosting, Angular and
      Material Design
    </h4>

    <p>
      A publicly usable Angular PWA template that scores ~100 in all Lighthouse
      tests, depending on the environment it is hosted in.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      width="300"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <mat-card-title>
      Angular Resources
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Here are some links to help you get started with Angular:</p>
    <mat-list>
      <mat-list-item>
        <h2>
          <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
            >Tour of Heroes</a
          >
        </h2>
      </mat-list-item>
      <mat-list-item>
        <h2>
          <a target="_blank" rel="noopener" href="https://angular.io/cli"
            >CLI Documentation</a
          >
        </h2>
      </mat-list-item>
      <mat-list-item>
        <h2>
          <a target="_blank" rel="noopener" href="https://blog.angular.io/"
            >Angular blog</a
          >
        </h2>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
      <img mat-card-avatar src="https://img.icons8.com/color/48/000000/firebase.png">
    <mat-card-title>
      Firebase Resources
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Here are some links to help you get started with Firebase:</p>
    <mat-list>
      <mat-list-item>
        <h2>
          <a
            target="_blank"
            rel="noopener"
            href="https://firebase.google.com/docs/"
            >Firebase Docs</a
          >
        </h2>
      </mat-list-item>
      <mat-list-item>
        <h2>
          <a
            target="_blank"
            rel="noopener"
            href="https://firebase.google.com/docs/hosting/"
            >Hosting Documentation</a
          >
        </h2>
      </mat-list-item>
      <mat-list-item>
        <h2>
          <a
            target="_blank"
            rel="noopener"
            href="https://firebase.googleblog.com/"
            >Firebase blog</a
          >
        </h2>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
