/**
* Generated theme by Material Theme Generator
* https://material-theme-generator.travetto.io
*/
@import "./app-theme.scss";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
